@{
    Layout = "~/views/shared/layout.cshtml";
}




        <div class="article">
          <h2><span>Trash</span> </h2>
            <br />
          <div class="clr"></div>
          <form action="#" method="post" id="sendemail">
              <table>
                  <tr> 
                      <td><h2>Sender&nbsp &nbsp    </h2></td>
                      <td><h2>Message  &nbsp &nbsp &nbsp &nbsp  </h2></td>
                      <td><h2>Date       &nbsp</h2></td>
                      <td><h2>Time       &nbsp</h2></td>
                  </tr>
              </table>
            
          </form>
        </div>
      </div>
     